
.bestest_timer_button {
    height: 28px;
    border: 0px;
    border-radius: 3px;
}

.bestest_timer_dialog label, .bestest_timer_dialog input {
    display: block;
}

.bestest_timer_dialog .ui-dialog-titlebar-close {
  display: none;
}
